.web-shop {}
.web-shop .input-text {
    height: 30px;
    border: 1px solid blue;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.web-shop .button {
    height: 30px;
    background-color: aqua;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}